{% comment %}
  Template for the homepage
{% endcomment %}

{% section 'hero-banner' %}
{% section 'featured-collection' %}
{% section 'collection-banners' %}
{% section 'featured-product' %}
{% section 'slogan-section' %}
<div class="scratch-stripes-bottom"></div>

